h1 {
    text-transform: uppercase;
    text-align: center
}
h2 {
color: grey;
text-align: center;
font-style: italic;
font-size: 30px
}
#guess, #guesses {
    font-size: 25px
}
#guesses {
    color: #26a69a
}